:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url("./assets/img/bg-home.png");
  background-color: black;
  background-position: -10% 10%;
  background-size: 50%;
  background-repeat: no-repeat;
}

